{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="text-center">Privacy Policy</h2>
        <p>StreamingService ("us", "we", or "our") operates the StreamingService website (the "Service"). This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>
    </div>
</div>
{% endblock %}
